@charset "UTF-8";
/* general reset */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td { margin: 0; padding: 0; }

table { border-collapse: collapse; border-spacing: 0; }

fieldset, img { border: 0; }

address, caption, cite, code, dfn, em, strong, th, var { font-style: normal; font-weight: normal; }

ol, ul { list-style: none; }

caption, th { text-align: left; }

h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; }

q:before { content: “; }
q:after { content: ”; }

abbr, acronym { border: 0; display: inherit; }

.slides_container { display: none; }
.slides_container .slide { margin: 0 !important; padding: 0 !important; display: block; }

.clear { clear: both; height: 0; }

.hide { display: none; }

html { min-height: 100%; font-size: 81.25%; background-color: #5fa644; background: -webkit-gradient(linear, left top, 50 400, from(#82b450), to(#5fa644)); background: -moz-linear-gradient(-70deg, #82b450, #5fa644); }

body { margin: 1em; font-family: Ubuntu, "Myriad Pro", Calibri, HelveticaNeue, Helvetica, DejaVuSansCondensed, sans-serif; line-height: 1.3; }

a { color: #1d3d35; text-decoration: none; }
a:hover { text-decoration: underline; }

#container { background-color: #488e45; background: -webkit-gradient(linear, left top, 75 600, from(#5fa644), to(#488e45)); background: -moz-linear-gradient(-70deg, #5fa644, #488e45); max-width: 65em; margin: 1em auto; padding: 1em 2.5em 1em 2.5em; border-radius: 0.5em; -webkit-border-radius: 0.5em; -moz-border-radius: 0.5em; box-shadow: 0 0 1ex #96b450; -webkit-box-shadow: 0 0 1ex #96b450; -moz-box-shadow: 0 0 1ex #96b450; }

#main { color: black; padding: 2em 14.5em; margin: 0 -2em; background-color: white; border-radius: 0.5em; -webkit-border-radius: 0.5em; -moz-border-radius: 0.5em; }
#main a { color: #114498; }
#main h1 a, #main h2 a, #main h3 a, #main h4 a, #main h5 a, #main h6 a { color: inherit; }
#main h1, #main h2, #main h3, #main h4 { color: #e05030; margin: 2ex 0 1ex 0; }
#main h1 { font-family: Ubuntu, "Myriad Pro", Calibri, HelveticaNeue, Helvetica, DejaVuSansCondensed, sans-serif; font-size: 250%; font-weight: lighter; }
#main h2 { font-family: Ubuntu, "Myriad Pro", Calibri, HelveticaNeue, Helvetica, DejaVuSansCondensed, sans-serif; font-size: 180%; }
#main h3 { font-family: Ubuntu, "Myriad Pro", Calibri, HelveticaNeue, Helvetica, DejaVuSansCondensed, sans-serif; font-size: 130%; }
#main h5 { color: #e05030; font-style: italic; }
#main h6 { font-weight: bold; }
#main h5, #main h6 { display: run-in; margin: 2ex 1em 1ex 0; }
#main p, #main ul, #main ol, #main dl { margin-top: 0.75ex; margin-bottom: 0.75ex; }
#main ul { list-style: disc; }
#main ol { list-style: decimal; }
#main ul, #main ol { padding-left: 2em; }
#main ul ol, #main ol ol { list-style: lower-alpha; }
#main dl { margin-left: 1em; }
#main dl dt { font-weight: bold; margin-left: -1em; }
#main hr { background-color: #666666; width: 62%; height: 1px; border: none; margin: 4ex auto; }
#main address { margin: 1ex 0; }
#main blockquote, #main pre { margin: 1ex 2em; padding: 1ex; }
#main blockquote { color: #666666; }
#main pre { background-color: #dddddd; overflow-x: auto; border-radius: 0.5em; -webkit-border-radius: 0.5em; -moz-border-radius: 0.5em; }
#main sup { vertical-align: baseline; position: relative; font-size: x-small; top: -1ex; }
#main table { margin: 1ex auto; border-collapse: collapse; border-spacing: 0; caption-side: top; }
#main table th, #main table td { padding: 0.75ex 0.75em; }
#main table thead tr { border-bottom: 1px solid #666666; vertical-align: bottom; }
#main table tbody { vertical-align: top; }
#main ul.publications li { margin-bottom: 1ex; }
#main ul.publications a[name] { width: 10em; margin: 0 2em; color: #aaaaaa; clear: left; float: left; margin-left: -12.5em !important; margin-right: 1em; text-align: right; visibility: hidden; }
#main ul.publications a[name] a { color: #90afc8; }
#main ul.publications .title { font-weight: bold; }
#main ul.publications .notes { display: block; margin: 0.5ex 0; color: #666666; }
#main ul.publications .award { background-color: #ffffa0; padding: 0.2ex 0.4ex; margin: -0.2ex -0.4ex; border-radius: 0.5ex; -webkit-border-radius: 0.5ex; -moz-border-radius: 0.5ex; }
#main .highlight, #main .banner { margin: 1em -14.5em 1em -14.5em !important; padding: 1ex 14.5em 1ex 14.5em; clear: both; }
#main .highlight { background-color: #ffffa0; background: -webkit-gradient(linear, left top, right bottom, from(white), color-stop(0.3, #ffffa0), color-stop(0.7, #ffffa0), to(white)); background: -moz-linear-gradient(left, white, #ffffa0, #ffffa0, white); }
#main .banner { background-color: #deefd1; background: -webkit-gradient(linear, left top, right bottom, from(white), color-stop(0.3, #deefd1), color-stop(0.7, #deefd1), to(white)); background: -moz-linear-gradient(left, white, #deefd1, #deefd1, white); }
#main .framed { background-color: #aaaaaa; padding: 1px; border: 1px solid #dddddd; }
#main .noframe { padding: 3px; }
#main .framed, #main .noframe { margin: 0 0 1em 0; }
#main .right { clear: right; float: right; margin-right: -12.5em !important; margin-left: 1em; text-align: left; }
#main .left { clear: left; float: left; margin-left: -12.5em !important; margin-right: 1em; text-align: right; }
#main p.right, #main p.left { width: 10em; margin: 0 2em; color: #aaaaaa; }
#main p.right a, #main p.left a { color: #90afc8; }
#main .postmeta { width: 10em; margin: 0 2em; color: #aaaaaa; clear: left; float: left; margin-left: -12.5em !important; margin-right: 1em; text-align: right; }
#main .postmeta a { color: #90afc8; }
#main .postmeta .date, #main .postmeta .tags { display: block; }

img { margin: 1ex; }

.right img { margin: 0; }

em { font: inherit; font-style: italic; }

strong { font-weight: bold; }

strong.marker { background-color: #ffffa0; padding: 0.2ex 0.4ex; margin: -0.2ex -0.4ex; border-radius: 0.5ex; -webkit-border-radius: 0.5ex; -moz-border-radius: 0.5ex; }

.light { font-size: smaller; opacity: 0.7; }

.todo { background-color: #ffffa0; padding: 0.2ex 0.4ex; margin: -0.2ex -0.4ex; border-radius: 0.5ex; -webkit-border-radius: 0.5ex; -moz-border-radius: 0.5ex; white-space: pre-line; }

.footnotes { margin-top: 3em; }

.footnotes, #footnotebubble { font-size: smaller; }
.footnotes hr, #footnotebubble hr { width: 50%; margin-left: 0; }
.footnotes p, #footnotebubble p { display: inline; }
.footnotes a[rev="footnote"], #footnotebubble a[rev="footnote"] { padding-left: 1em; }

#footnotebubble { max-width: 20em; padding: 1em; background-color: #deefd1; border: 1px solid #cccccc; box-shadow: #cccccc 0 0 10px; -webkit-box-shadow: #cccccc 0 0 10px; -moz-box-shadow: #cccccc 0 0 10px; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; }

.permalink { margin-top: 1ex; margin-right: 1em; }

#header { margin: 0 -1.5em 1ex 0; }
#header h1 { float: left; font-size: 200%; }
#header h1 a { color: black; }
#header #tagline { float: right; text-align: right; margin-left: 9ex; }

#menu { margin: 1ex -1ex -1ex -1ex; padding: 0; float: left; }
#menu ul { display: block; list-style: none; margin: 0; padding: 0; }
#menu li { display: inline-block; margin: 0 1ex 0 0; }
#menu span, #menu a { display: inline-block; padding: 0.5ex 1ex 1.2ex 1ex; margin-bottom: -1ex; color: black; }
#menu .active { padding-bottom: 0.2ex; border-bottom: 1ex solid #e05030; color: white; }

#langbar { margin: 1.5ex 0 -2ex 0; float: right; }

#pagebottom { margin: 1em auto; font-size: smaller; text-align: center; opacity: 0.5; }
#pagebottom:hover { opacity: 1; -webkit-transition-property: opacity; -webkit-transition-duration: 0.3s; }
#pagebottom #HyphenatorToggleBox { display: inline; }

#header h1 { -webkit-animation-name: slide-in; -webkit-animation-duration: 0.5s; -webkit-animation-timing-function: ease; }
