body, div, a, li, h1, h2, h3, h4, h5 {
  -webkit-transition-property: color, background-color, border-color, -webkit-box-shadow-color;
  -webkit-transition-duration: 3s;
  -webkit-transition-timing-function: ease-in-out; }

body {
  color: #111111;
  background-color: #dddddd; }

a {
  color: #333333; }

#container {
  background-color: #cccccc;
  -webkit-box-shadow: 0 0 1ex #eeeeee; }

#main {
  color: #666666;
  background-color: white; }
  #main h1, #main h2, #main h3, #main h4, #main h5 {
    color: #999999; }
  #main a {
    color: black; }

#menu li.webgen-menu-item-selected, #menu li.webgen-menu-submenu-inhierarchy {
  border-color: #999999;
  background-color: #999999; }

#portrait {
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 3s;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transform: rotate(540deg); }
